.todo-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.todo-list {
  margin-bottom: 60px;
  min-height: 800px;
}

.todo-field__add,
.todo-item__row {
  padding: 5px 10px;
  display: flex;
}

.todo-header__tools {
  padding: 5px 20px;
}

.todo-header__tools,
.todo-item__row {
  align-items: center;
}

.todo-item__row {
  transition: 0.2s ease-in-out all;
}

.todo-item {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.todo-item:hover {
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(149, 149, 149, 0.1);
}

.todo-title:hover {
  cursor: pointer;
}

.todo-text__through {
  text-decoration: line-through;
  opacity: 0.7;
}

.delete-btn {
  padding: 10px;
}
